<div class="container">
    <div class="col-xs-12">
        <h1>{{this.titulo}}</h1>
        <hr>
        <form #f="ngForm" (ngSubmit)="submit(f)" novalidate>
            <input type="hidden" name="id" [(ngModel)]="product.id">
            <div class="form-group">
                <label>Codigo</label>
                <input type="text" class="form-control" [(ngModel)]="product.codigo" name="codigo" #codigo="ngModel" required />
                <small class="validation-error" [hidden]="codigo.valid || (codigo.pristine && !f.submitted)">Codigo es un input requerido.</small>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="product.nombre" name="nombre" #nombre="ngModel" required />
                <small class="validation-error" [hidden]="nombre.valid || (nombre.pristine && !f.submitted)">Nombre es un input requerido.</small>
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input type="number" class="form-control" [(ngModel)]="product.precio" name="precio" #precio="ngModel" required />    
                <small class="validation-error" [hidden]="precio.valid || (precio.pristine && !f.submitted)">Precio es un input requerido.</small>
            </div>
            <div class="form-group">
                <label>Stock</label>
                <input type="number" min="0" class="form-control" [(ngModel)]="product.stock" name="stock" #stock="ngModel" required />
                <small class="validation-error" [hidden]="stock.valid || (stock.pristine && !f.submitted)">Stock es un input requerido.</small>
            </div>
            <div class="form-group">
                <label>Categoria</label>
                <select  class="form-control" [(ngModel)]="product.categoriaId" name="categoriaId" #categoriaId="ngModel">
                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{categoria.id}} - {{categoria.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-success width-100">Guardar</button>
                    <button type="button" class="btn btn-danger mt-10 width-100" (click)="goBackListing()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
